<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.persistence.dao.AttentionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.persistence.model.Attention">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="link_id" property="linkId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, link_id, create_time
    </sql>

    <select id="selectAttentionByUserAndLikeId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM eb_attention WHERE user_id=#{userId} AND link_id=#{likeId}
    </select>

    <select id="selectOneAttentionRecord" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        eb_attention
        WHERE
        user_id=#{userId} AND link_id=#{linkId}

    </select>


    <select id="selectUserFriendList" resultType="java.util.Map">
        SELECT
        u.avatar,
        u.intro,
        u.gender,
        u.age,
        u.name,
        u.online_state as onlineState,
        a.link_id as userId
        FROM
        eb_attention a
        LEFT JOIN
        eb_user u on u.id = a.link_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="findMyfansList" resultType="java.util.Map">
        SELECT
        u.avatar,
        u.intro,
        u.gender,
        u.age,
        u.name,
        u.online_state as onlineState,
        a.user_id as userId
        FROM
        eb_attention a
        LEFT JOIN
        eb_user u on u.id = a.user_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
<select id="selectUserList" resultType="java.util.Map">
    SELECT
    u.name,
    u.phone,
    u.rlb_num as rlbNum,
    ea.create_time as createTime
    FROM
    eb_attention ea
    LEFT JOIN
    eb_user u
    on
    u.id=ea.link_id
	<where>
        ${ew.sqlSegment}
        and
	ea.user_id = #{id}
    </where>
</select>
</mapper>
