<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.persistence.dao.WithdrawalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.persistence.model.Withdrawal">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="account" property="account" />
        <result column="money" property="money" />
        <result column="rate" property="rate" />
        <result column="rate_money" property="rateMoney" />
        <result column="real_money" property="realMoney" />
        <result column="state" property="state" />
        <result column="way" property="way" />
        <result column="admin_id" property="adminId" />
        <result column="audit_time" property="auditTime" />
        <result column="remark" property="remark" />
        <result column="order_num" property="orderNum" />
        <result column="trade_num" property="tradeNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, account, money, rate, rate_money, real_money, state, way, admin_id, audit_time, remark, order_num, trade_num, create_time, update_time
    </sql>

    <sql id="Base_List">
        w.id, w.user_id, w.account, w.money, w.rate, w.rate_money, w.real_money, w.state, w.admin_id, w.audit_time, w.remark, w.order_num, w.create_time as createTime, w.update_time
    </sql>

    <select id="selectWithdrawal" parameterType="Withdrawal" resultType="Withdrawal">
        select
        <include refid="Base_List" />,
        u.name as userName,
        u.xishi_num as xishiNum,
        (select name from eb_user_auth_info where user_id = w.user_id) as realName,
        (select name from eb_bank_account where id = (select bu.bank_account_id from eb_bank_user as bu where bu.id = w.account) ) as accountName,
        (select bu.bank_card from eb_bank_user as bu where bu.id = w.account) as accountNum,
        (select but.qrcode from eb_bank_user as but where but.id = w.account) as qrcode
        from eb_withdrawal w LEFT JOIN eb_user u on w.user_id = u.id
        where u.state = 0 and u.apply_status = 4 and w.type = 2 and belong_agent = #{agentId}
        <if test="state != null">
            and w.state in (#{state}
            <if test="state == 1">
              ,4
            </if>)
        </if>

        <if test="stateTow != null">
            and w.state = #{stateTow}
        </if>

        <if test="xishiNum != null and xishiNum != '' ">
            and u.xishi_num like concat('%', #{xishiNum},'%')
        </if>
        <if test="userName != null and userName != '' ">
            and u.name like concat('%',#{userName}, '%')
        </if>
        order by w.create_time desc
    </select>

</mapper>
