@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <form id="validatorForm">
        <div class="ibox-content">
            <div class="form-horizontal">

                <input type="hidden" id="id" value="">

                <div class="row">
                    <div class="col-sm-10">
                                <#input id="id" name=""/>
                                <#input id="userId" name=""/>
                                <#input id="name" name="姓名"/>
                                <#input id="idCard" name="身份证"/>
                                <#input id="state" name="0 待认证 1 认证中 2 已认证 3 认证失败"/>
                                <#input id="bizNo" name="实名操作业务编号"/>
                                <#input id="reason" name="实名未通过原因"/>
                                <#input id="createTime" name=""/>
                                <#input id="updateTime" name=""/>
                                <#input id="hasPay" name="是否已支付,0--未支付，1--已支付"/>
                                <#input id="authTime" name="实名认证次数"/>
                                <#input id="cardFront" name="身份证正面"/>
                                <#input id="cardBack" name="身份证反面"/>
                                <#input id="cardHand" name="手持身份证"/>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserAuthInfoInfoDlg.addSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserAuthInfoInfoDlg.close()"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script src="${ctxPath}/static/modular/showerManage/userAuthInfo/userAuthInfo_info.js"></script>
@}
