@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <form id="validatorForm">
        <div class="ibox-content">
            <div class="form-horizontal">

                <input type="hidden" id="id" value="">

                <div class="row">
                    <div class="col-sm-10">
                                <#input id="id" name=""/>
                                <#input id="agentNum" name="代理商编号"/>
                                <#input id="agentPhone" name="绑定手机号"/>
                                <#input id="auditState" name="审核状态 0：待审核 1：通过 2：驳回"/>
                                <#input id="auditTime" name="审核时间"/>
                                <#input id="reason" name="拒绝理由"/>
                                <#input id="state" name="状态  0：正常 1：已禁用"/>
                                <#input id="permission" name="上传电影权限 0：有  1：无"/>
                                <#input id="userId" name="申请人id"/>
                                <#input id="agentUserName" name="代理人姓名"/>
                                <#input id="agentName" name="家族名称"/>
                                <#input id="card" name="身份证信息"/>
                                <#input id="agentLogo" name="家族Logo"/>
                                <#input id="agentIntro" name="家族简介"/>
                                <#input id="cardFront" name="身份证正面照"/>
                                <#input id="cardBack" name="身份证反面照"/>
                                <#input id="createTime" name="申请时间"/>
                                <#input id="realName" name="真实姓名"/>
                                <#input id="showerNum" name="主播个数"/>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AgentInfoDlg.addSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AgentInfoDlg.close()"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script src="${ctxPath}/static/modular/agentManage/agent/agent_info.js"></script>
@}
