@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">

                        <input type="hidden" id="userId" value="${item.id}">

                        <div class="row">
                            <ul class="nav nav-tabs" id="tab_box">
                                <li role="presentation" id="showerInfo" class="active"><a href="#">个人资料</a></li>
                                <li role="presentation" id="gift"><a href="#">充值记录</a></li>
                                <li role="presentation" id="withdrawal"><a href="#">观看记录</a></li>
                            </ul>
                            <script>
                                $('#tab_box li').click(function () {
                                    var f = this;
                                    $('#tab_box li').each(function () {
                                        this.className = this == f ? 'active' : 'noactive'
                                    });
                                    var id = this.id
                                    if(id === "gift"){
                                        $("#gift_table_box").css("display","inline")
                                        $("#showerInfo_table_box").css("display","none")
                                        $("#withdrawal_table_box").css("display","none")
                                    }else if(id === "showerInfo"){
                                        $("#gift_table_box").css("display","none")
                                        $("#showerInfo_table_box").css("display","inline")
                                        $("#withdrawal_table_box").css("display","none")
                                    }else {
                                        $("#gift_table_box").css("display","none")
                                        $("#showerInfo_table_box").css("display","none")
                                        $("#withdrawal_table_box").css("display","inline")
                                    }
                                });
                            </script>
                            <div id="showerInfo_table_box">
                                <div class="ibox-title">
                                    <h5>基础信息</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <#input readonly="readonly" id="xishiNum" name="西施号" value="${item.xishiNum}"/>
                                                <#easyupload readonly="readonly" valueType="image" id="avatar" name="头像" value="${item.avatar}"/>
                                                <#input readonly="readonly" id="phone" name="手机号" value="${item.phone}"/>
                                                <#input readonly="readonly" id="createTimeNo" name="注册时间" value="${item.createTime}"/>
                                                <#input readonly="readonly" id="name" name="昵称" value="${item.name}"/>
                                                <#input readonly="readonly" id="agentPhone" name="会员等级" value="${item.userLevel}"/>
                                                <#select disabled="disabled" id="gender" name="性别">
                                                    <option value="">请选择</option>
                                                    <option value="0"
                                                            @if(item.gender == 0){
                                                            selected
                                                            @}
                                                    >男</option>
                                                    <option value="1"
                                                            @if(item.gender == 1){
                                                            selected
                                                            @}
                                                    >女</option>
                                                </#select>
                                                <#input readonly="readonly" id="agentPhone" name="出生日期" value="${item.birthday}"/>
                                                <#input readonly="readonly" id="agentPhone" name="地址" value="${item.province+item.city}"/>
                                                <#input readonly="readonly" id="agentPhone" name="职业" value="${item.job}"/>
                                                <#textarea readonly="readonly" id="agentPhone" name="个人签名" value="${item.intro}"/>
                                                <#select id="state" name="状态">
                                                    <option value="">请选择</option>
                                                    <option value="0"
                                                            @if(item.state == 0){
                                                            selected
                                                            @}
                                                    >正常</option>
                                                    <option value="1"
                                                            @if(item.state == 1){
                                                            selected
                                                            @}
                                                    >禁用</option>
                                                </#select>
                                            </div>
                                    <div class="row btn-group-m-t">
                                        <div class="col-sm-10 text-center">
                                            <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoDlg.editSubmit()"/>
                                            <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoDlg.close()"/>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="gift_table_box" style="display: none">
                                <#table id="ChargeRecordTable"/>
                            </div>
                            <div id="withdrawal_table_box" style="display: none">
                                <#table id="WatchRecordTable"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/userManage/user/user_info.js"></script>
<script src="${ctxPath}/static/modular/moneyManage/chargeRecord/chargeRecord.js"></script>
<script src="${ctxPath}/static/modular/userManage/watchRecord/watchRecord.js"></script>
@}
