@layout("/common/_container.html"){
<div class="ibox float-e-margins">
   <form id="validatorForm">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-10">
                            <#input id="id" name="" value="${item.id}"/>
                            <#input id="userId" name="" value="${item.userId}"/>
                            <#input id="liveRecordId" name="" value="${item.liveRecordId}"/>
                            <#input id="createTime" name="" value="${item.createTime}" />
                            <#input id="endTime" name="退出时间" value="${item.endTime}"/>
                            <#input id="state" name="是否退出直播间 0：否 1：是" value="${item.state}"/>
                            <#input id="time" name="" value="${item.time}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10 text-center">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WatchRecordInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WatchRecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
  </form>
</div>
<script src="${ctxPath}/static/modular/userManage/watchRecord/watchRecord_info.js"></script>
@}
