@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>观看记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="WatchRecord.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="WatchRecordTableToolbar" role="group">
                            @if(shiro.hasPermission("/watchRecord/add")){
                                <#button name="添加" icon="fa-plus" clickFun="WatchRecord.openAddWatchRecord()"/>
                            @}
                            @if(shiro.hasPermission("/watchRecord/update")){
                                <#button name="修改" icon="fa-edit" clickFun="WatchRecord.openWatchRecordDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/watchRecord/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="WatchRecord.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="WatchRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/userManage/watchRecord/watchRecord.js"></script>
@}
