@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <form id="validatorForm">
        <div class="ibox-content">
            <div class="form-horizontal">

                <input type="hidden" id="id" value="">

                <div class="row">
                    <div class="col-sm-10">
                                <#input id="id" name=""/>
                                <#input id="userId" name="充值用户"/>
                                <#input id="rmbAmount" name="充值人民币金额"/>
                                <#input id="xishiAmount" name="西施币数量"/>
                                <#input id="walletAmount" name="充值后钱包余额"/>
                                <#input id="source" name="充值途径 0微信 1支付宝"/>
                                <#input id="createTime" name="充值时间"/>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ChargeRecordInfoDlg.addSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ChargeRecordInfoDlg.close()"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script src="${ctxPath}/static/modular/moneyManage/chargeRecord/chargeRecord_info.js"></script>
@}
