@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <ul class="nav nav-tabs" id="tab_box">
                                <li role="presentation" id="showerInfo" class="active"><a href="#">家族资料</a></li>
                                <li role="presentation" id="gift">
                                    <a href="#">收益记录</a>
                                </li>
                                <li role="presentation" id="withdrawal"><a href="#">提现记录</a></li>
                            </ul>
                            <script>
                                $('#tab_box li').click(function () {
                                    var f = this;
                                    $('#tab_box li').each(function () {
                                        this.className = this == f ? 'active' : 'noactive'
                                    });
                                    var id = this.id
                                    if(id === "gift"){
                                        $("#gift_table_box").css("display","inline")
                                        $("#showerInfo_table_box").css("display","none")
                                        $("#withdrawal_table_box").css("display","none")
                                    }else if(id === "showerInfo"){
                                        $("#gift_table_box").css("display","none")
                                        $("#showerInfo_table_box").css("display","inline")
                                        $("#withdrawal_table_box").css("display","none")
                                    }else {
                                        $("#gift_table_box").css("display","none")
                                        $("#showerInfo_table_box").css("display","none")
                                        $("#withdrawal_table_box").css("display","inline")
                                    }
                                });
                            </script>
                            <div id="showerInfo_table_box">
                                <div class="ibox-title">
                                    <h5>基础信息</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <#input readonly="readonly" id="agentNum" name="代理商ID" value="${agent.agentNum}"/>
                                                <#easyupload readonly="readonly" valueType="image" id="agentPhone" name="logo" value="${agent.agentLogo}"/>
                                                <#input readonly="readonly" id="agentPhone" name="家族名称" value="${agent.agentName}"/>
                                                <#textarea readonly="readonly" id="agentPhone" name="家族简介" value="${agent.agentIntro}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-title">
                                    <h5>打理人信息</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <#input id="agentNum" readonly="readonly" name="打理人姓名" value="${user.name}"/>
                                                <#input id="agentPhone" readonly="readonly" name="身份证号" value="${agent.card}"/>
                                                <#input id="agentPhone" readonly="readonly" name="手机号" value="${user.phone}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-title">
                                    <h5>账户信息</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <#input id="agentNum" readonly="readonly" name="累计收益" value="0"/>
                                                <#input id="agentPhone" readonly="readonly" name="当前余额" value="0"/>
                                                <#input id="agentPhone" readonly="readonly" name="账户余额" value="0"/>
                                                <#input id="agentPhone" readonly="readonly" name="可提现金额" value="0"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div id="gift_table_box" style="display: none">


                                <#table id="UserWalletRecordTable"/>
                            </div>
                            <div id="withdrawal_table_box" style="display: none">
                                <#table id="WithdrawalTable"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/agentManage/agent/agent.js"></script>
<script src="${ctxPath}/static/modular/moneyManage/withdrawal/withdrawal_self.js"></script>
<script src="${ctxPath}/static/modular/moneyManage/userWalletRecord/userWalletRecord_self.js"></script>
@}
