@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户列表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="用户状态">
                                    <option value="">全部</option>
                                    <option value="0">正常</option>
                                    <option value="1">冻结</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="xishiNum" name="西施号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="name" name="用户昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="phone" name="绑定手机号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="User.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="UserTableToolbar" role="group">
                            @if(shiro.hasPermission("/user/add")){
                                <#button name="启用" icon="fa-plus" clickFun="User.start()"/>
                            @}
                            @if(shiro.hasPermission("/user/update")){
                                <#button name="查看" icon="fa-edit" clickFun="User.openUserDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/user/delete")){
                                <#button name="禁用" icon="fa-remove" clickFun="User.stop()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/user/export")){
                                <#button name="导出" icon="fa-download" clickFun="User.export()" space="true"/>
                            @}
                        </div>
                        <#table id="UserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/userManage/user/user.js"></script>
@}
