@layout("/common/_container.html"){
<div class="ibox float-e-margins">
   <form id="validatorForm">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-10">
                            <#input id="id" name="" value="${item.id}"/>
                            <#input id="userId" name="用户id" value="${item.userId}"/>
                            <#input id="roomNum" name="房间号" value="${item.roomNum}"/>
                            <#input id="streamName" name="直播流名" value="${item.streamName}"/>
                            <#input id="pushUrl" name="推流地址" value="${item.pushUrl}"/>
                            <#input id="pullUrl" name="播流地址" value="${item.pullUrl}"/>
                            <#input id="totalLiveTime" name="直播总时长 分钟数" value="${item.totalLiveTime}"/>
                            <#input id="totalLiveWatch" name="直播历史总观看人数" value="${item.totalLiveWatch}" />
                            <#input id="liveStartTime" name="最新直播开始时间" value="${item.liveStartTime}"/>
                            <#input id="newLiveRecord" name="最新直播记录id" value="${item.newLiveRecord}"/>
                            <#input id="state" name="直播房间状态  0：正常  1：禁播 " value="${item.state}"/>
                            <#input id="liveState" name="直播状态 0：未直播 1：正在直播" value="${item.liveState}"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}"/>
                            <#input id="sortNum" name="排序值" value="${item.sortNum}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10 text-center">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LiveInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LiveInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
  </form>
</div>
<script src="${ctxPath}/static/modular/liveManage/live/live_info.js"></script>
@}
