@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <form id="validatorForm">
        <div class="ibox-content">
            <div class="form-horizontal">

                <input type="hidden" id="id" value="">

                <div class="row">
                    <div class="col-sm-10">
                                <#input id="id" name=""/>
                                <#input id="name" name="名称"/>
                                <#input id="state" name="状态 0 正常 1 删除"/>
                                <#input id="createTime" name="创建时间"/>
                                <#input id="updateTime" name="修改时间"/>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SuggestionTypeInfoDlg.addSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SuggestionTypeInfoDlg.close()"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script src="${ctxPath}/static/modular/suggestionManage/suggestionType/suggestionType_info.js"></script>
@}
