@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <form id="validatorForm">
        <div class="ibox-content">
            <div class="form-horizontal">

                <input type="hidden" id="id" value="">

                <div class="row">
                    <div class="col-sm-10">
                                <#input id="name" name="礼物名称"/>
                                <#input id="money" name="礼物单价（西施币）"/>
                                <#easyupload id="image" name="礼物样式"/>
                                <#select id="state" name="礼物状态">
                                    <option value="">请选择</option>
                                    <option value="0">显示</option>
                                    <option value="1">隐藏</option>
                                </#select>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="GiftInfoDlg.addSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="GiftInfoDlg.close()"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script src="${ctxPath}/static/modular/giftManage/gift/gift_info.js"></script>
@}
